*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: rgb(0, 162, 255);
  color: white;
}

h1 {
  text-align: center;
  color: firebrick;
  padding: 15px;
}
#formdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#employeeForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#employeeForm label {
  font-weight: 600;
  color: blueviolet;
}
#employeeForm input {
  width: 95%;
  padding: 7px;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: rgb(228, 223, 223);
}
#employeeForm button {
  width: 30%;
  padding: 10px;
  background-color: blueviolet;
  border: solid 1px;
  margin-bottom: 8px;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.edit-btn {
  background-color: green;
  color: white;
  padding: 4px;
  border: 0px solid ;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 4px;
  border: 0px solid ;
}

@media (max-width: 542px) {
  h1{
    font-size: 18px;
  }
  #formdiv {
    width: 100%;
  }
}